@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

.deactivated {
    @apply bg-gray-200;
}

.activated {
    @apply bg-white;
}

.nav-item {
    @apply hover:border-b-blue-500 hover:border-b-4 text-2xl font-bold text-white;
    &.active {
        @apply border-b-4 border-b-blue-500;
    }
}

.item {
    @apply shadow-md rounded-md overflow-hidden inline-block relative my-2;
}

.item img {
    max-width: 300px;
    max-height: 300px;
}

.item .description {
    @apply opacity-0 bg-neutral-700 bg-opacity-75 w-full h-full text-white absolute left-0 top-0 z-10 p-5 transition-all duration-300 ease-in-out;
}

.item:hover .description {
    @apply opacity-100;
}